td {
  color: lime;
  text-align: center;
  font-size: large;
}
th {
  color: lime;
  text-align: center;
}
* {
  background-color: black;
  color: lime;
}
#rendered:hover {
  color: limegreen;
}
#single {
  text-align: center;
}
/* new commit */
